extends layouts/main.pug
block css
    link(rel="stylesheet" href="/css/post.css")
    link(rel="stylesheet" href="/css/style.css")
block main
    .content
        .post
            h1(class="post__title") #{post.title}
            span(class="post__date") Đăng bởi #{post.author} - ngày #{post.datePosted}
            span(class="post__views") Lươt xem: #{post.viewCounts}
            img(class="post__img" src=`/img/post_img/${post.thumbnail}`)
            div(class="post__content") !{post.content}
            div(class="post__tags") Chủ đề: 
                if post.tags
                    each tag in post.tags
                        a(class="post__tag" href=`/category/${tag}`) #{tag},
        .post__comment
        if post.comments
            ul(class="comment__list")
                each comment in post.comments
                    li(class="comment__item")
                        div.comment
                            div.comment__avatar
                                img(src=`${comment.user.avatar}`)
                            div.comment__content
                                b.comment__user #{comment.user.name}:
                                p.comment__text #{comment.content}
                        if comment.replies
                            p #{comment.replies.content}
                        div.replies
                            form.replies(method="POST" action=`/post/${post.postId}/comment/${comment.id}/replies`)
                                input(class="comment__id" name="post__id" type="hidden" value=`${post._id}`)
                                input(class="comment__id" name="comment__id" type="hidden" value=`${comment.id}`)
                                input(class="replies__input" name="reply__content" type="text" placeholder="Điền phản hồi" )
                                button.replies__btn Gởi
        form.comment__form(action=`/post/${post.postId}/comment` method="POST") 
            input.comment__input(type="text" name="comment__content")
            button.comment__btn Bình luận
block script
    script(src="/js/commentValidation.js") 
    script(src="/js/commentController.js") 